<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidenav-header" [class.compact]="isCollapsed">
    <a routerLink="/" class="logo-link">
      <img
        *ngIf="!isCollapsed; else gOnly"
        class="logo-full"
        src="assets/logo-gtrack-full.svg"
        alt="G-TRACK TMS SYSTEM"
      />
      <ng-template #gOnly>
        <img class="logo-g" src="assets/logo-g-blue.svg" alt="G" />
      </ng-template>
    </a>
  </div>

  <div class="sidebar-content">
    <mat-nav-list class="nav">
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        [class.active]="isActiveRoute(item.route)"
        [matTooltip]="item.label"
        [matTooltipDisabled]="!isCollapsed"
        matTooltipPosition="right"
      >
        <mat-icon class="nav-icon" aria-hidden="true">{{ item.icon }}</mat-icon>
        <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
        <span class="badge" *ngIf="item.badge && !isCollapsed">{{ item.badge }}</span>
      </a>
    </mat-nav-list>

    <mat-nav-list class="nav nav-bottom">
      <a
        mat-list-item
        *ngFor="let item of settingsItems"
        [routerLink]="item.route"
        [class.active]="isActiveRoute(item.route)"
        [matTooltip]="item.label"
        [matTooltipDisabled]="!isCollapsed"
        matTooltipPosition="right"
      >
        <mat-icon class="nav-icon" aria-hidden="true">{{ item.icon }}</mat-icon>
        <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </div>

  <div class="sidenav-footer">
    <button
      mat-fab
      extended
      class="collapse-pill"
      (click)="toggleSidebar()"
      [attr.aria-label]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'"
    >
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      <span *ngIf="!isCollapsed">Collapse sidebar</span>
    </button>
  </div>
</aside>
